# dependencies
node_modules

# build outputs
packages/core/es
packages/core/esm
packages/core/lib
packages/core/dist
packages/vue/es
packages/vue/esm
packages/vue/lib
packages/vue/dist
playground/dist
playground/.vite

# coverage
coverage

# logs
*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
*.tsbuildinfo
*.tgz
.DS_Store
.idea
.vscode
